@media screen and (min-width:768px ){
  table{
    width: 600px;
    margin: auto;
  }
}
@media screen and (max-width:767px ){
  table{
    width: 100%;
  }
}
table>tbody>tr>td:first-child{
  text-align: right;
}
table>tbody>tr>td>input,textarea,table>tbody>tr>td>div{
  margin-top: 1rem;
  width: 80%;
}
table>tbody>tr:last-child{
  text-align: center;
}
textarea{
  height: 100px;
  resize: none;
}
table>tbody>tr>td>span{
  color: red;
}
#sent{
  padding: 0.2rem 2rem;
  color: #fff;
  background: #ff9c00;
  border: none;
}