div.inquiry_bef,div.inquiry_aft{
  position: fixed;
  z-index: 1000;
  top: 250px;
  right: 0;
}
div.inquiry_bef{
  width: 57px;
  display: none;
}
div.inquiry_aft{
  width: 169px;
  background: #1d7ccf;
}
div.inquiry_aft>ul>li{
  text-align: center;
  font-size: 0.8rem;
  color:#fff;
}
div.inquiry_aft>ul>li:first-child,div.inquiry_aft>ul>li:nth-child(2),div.inquiry_aft>ul>li:nth-child(3){
  border-bottom: 1px solid #61a4dd;
}
div.inquiry_aft>ul>li:nth-child(2n){
  padding: 0.5rem 0;
}
div.inquiry_aft>ul>li>span{
  text-align: left;
}
div.inquiry_aft>ul>li>a{
  color: #fff;
}